/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 .social-icons {
    background: #f7f7f7;
    border: 1px solid red;
    margin: 0 0 20px 0;
    padding: 15px 15px 5px 15px;
}
.social-icons li {
    float: left;
    width: 90px;
    height: 33px;
    line-height: 1.3;
    margin: 0 0 10px 0;
    padding: 3px 0 0 38px;
}
.social-icons li span {
    color: #999;
    display: block;
    font-size: 11px;
}
.social-icons .icon-facebook {
    background: url(../img/fb.png) no-repeat 0 0;
}